/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

h1 {
  margin: 20px 0;
}

#appContainer {
  display: grid;
  grid-template-areas:
    "title title"
    "modeControls modeControls"
    "canvas coords"
    "controls coords"
    "output coords";
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
}

#titleContainer {
  grid-area: title;
  text-align: center;
}

#imgCanvas {
  grid-area: canvas;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

#imgControls {
  grid-area: controls;
  text-align: center;
}

#modeControls {
  grid-area: modeControls;
  text-align: center;
}

#coordContainer {
  grid-area: coords;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#outputContainer {
  grid-area: output;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 10px;
}

#coordDiv {
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.sidePanelItem>h3 {
  margin-bottom: 5px;
}

#copyBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

#copyBtn:hover {
  background-color: #0056b3;
}
